*.swp
*/Publish/
**/bin/
**/obj/
.git/
.github/
.idea/
Documentation/
External/DebugLMP/
External/Dependencies_OLD/
External/KSPLibraries/
External/Nuget/

*.md
*.txt
appveyor_discord.ps1
appveyor.yml
azure-pipelines.yml
.gitattributes
.gitignore
LICENSE
.vsconfig

Dockerfile*
.dockerignore
docker-compose.yml
