*.user
*.userprefs
.vs/
External/KSPLibraries/*.dll
TestResults/*
Client/*.csproj.user
Client/bin/*
Client/obj/*
Common/*.csproj.user
Common/bin/*
Common/obj/*
LunaUpdater/*.csproj.user
LunaUpdater/bin/*
LunaUpdater/obj/*
Lidgren.Network/*.csproj.user
Lidgren.Network/bin/*
Lidgren.Network/obj/*
LMP.Tests/*.csproj.user
LMP.Tests/bin/*
LMP.Tests/obj/*
MasterServer/*.csproj.user
MasterServer/bin/*
MasterServer/obj/*
LMP.MasterServer/*.csproj.user
LMP.MasterServer/bin/*
LMP.MasterServer/obj/*
Server/*.csproj.user
Server/bin/*
Server/obj/*
LmpGlobal/*.csproj.user
LmpGlobal/bin/*
LmpGlobal/obj/*
Updater/*.csproj.user
Updater/bin/*
Updater/obj/*
FastMember/*.csproj.user
FastMember/bin/*
FastMember/obj/*