*.user
*.userprefs
*.mdb
.vs/
External/KSPLibraries/*.dll
External/Nuget/*
TestResults/*
LmpClient/*.csproj.user
LmpClient/bin/*
LmpClient/obj/*
LmpCommon/*.csproj.user
LmpCommon/bin/*
LmpCommon/obj/*
LmpCommonTest/*.csproj.user
LmpCommonTest/bin/*
LmpCommonTest/obj/*
LmpUpdater/*.csproj.user
LmpUpdater/bin/*
LmpUpdater/obj/*
Lidgren.Network/*.csproj.user
Lidgren.Network/bin/*
Lidgren.Network/obj/*
uhttpsharp/bin/*
uhttpsharp/obj/*
ServerTest/*.csproj.user
ServerTest/bin/*
ServerTest/obj/*
MasterServer/*.csproj.user
MasterServer/bin/*
MasterServer/obj/*
LmpMasterServer/*.csproj.user
LmpMasterServer/bin/*
LmpMasterServer/obj/*
Server/*.csproj.user
Server/bin/*
Server/obj/*
LmpGlobal/*.csproj.user
LmpGlobal/bin/*
LmpGlobal/obj/*
Lidgren.Network.Core/bin/*
Lidgren.Network.Core/obj/*
Server/packages
*.nupkg
.idea
