*.user
CopyToKSPDirectory.bat
.vs/
Client/*.csproj.user
Client/bin/*
Client/obj/*
Common/*.csproj.user
Common/bin/*
Common/obj/*
MasterServer/*.csproj.user
MasterServer/bin/*
MasterServer/obj/*
Server/*.csproj.user
Server/bin/*
Server/obj/*
ServerTester/*.csproj.user
ServerTester/bin/*
ServerTester/obj/*
