<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CachedQuickLz" version="1.0.0" targetFramework="net47" />
  <package id="LunaConfigNode" version="1.8.1" targetFramework="net47" />
  <package id="Open.NAT" version="2.1.0.0" targetFramework="net461" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net47" />
</packages>