<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.15.0" targetFramework="net48" />
  <package id="log4net" version="2.0.12" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading" version="16.8.55" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.8.55" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Validation" version="16.8.33" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Open.NAT" version="2.1.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>